<%- include("header") -%>
<div class="box1" id="heading">
    <img src="icono2.png" alt="" id="icono">       
    <h1>Mis tareas</h1>
</div>        
<div class="box">
    
    <!-- Formulario para agregar nuevas tareas -->
    <form id="taskForm" action="/" method="post">
        <input type="text" id="taskInput" name="n" placeholder="Nueva tarea">
        <button type="submit" id="Agregar">Agregar</button>
    </form>

    <!-- Lista de tareas existentes -->
    <% for(var i = 0; i < newListItem.length; i++) { %>
        <div class="item <%= newListItem[i].completed ? 'completed' : '' %>">
            <div class="task-text" style="flex-grow: 1; display: flex; justify-content: center;">
                <p class="tareas"><%= newListItem[i].name %></p>
            </div>
            <div style="display: inline;">
                <!-- Botón para completar la tarea -->
                <form action="/complete" method="post" style="display: inline;">
                    <input type="hidden" name="checkbox" value="<%= newListItem[i]._id %>">
                    <button type="submit" class="complete-btn <%= newListItem[i].completed ? 'volver' : '' %>" id="Completar">
                        <%= newListItem[i].completed ? 'Volver' : 'Completar' %>
                    </button>
                </form>
            
                <!-- Botón para eliminar la tarea -->
                <form action="/delete" method="post" style="display: inline;">
                    <input type="hidden" name="checkbox" value="<%= newListItem[i]._id %>">
                    <button type="submit" id="Eliminar">Eliminar</button>
                </form>
            </div>
        </div>        
    <% } %>
</div>

<!-- Add the script here -->
<script>
    document.getElementById('taskForm').addEventListener('submit', function(event) {
        // Obtener el valor del campo de entrada de la tarea
        const taskInputValue = document.getElementById('taskInput').value.trim();
    
        // Verificar si el campo está vacío
        if (!taskInputValue) {
            // Mostrar alerta de campo vacío
            alert('Por favor, ingrese una tarea');
            // Detener el envío del formulario
            event.preventDefault();
        }
    });
</script>

